<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
    integrity="undefined" crossorigin="anonymous">
  <title>Reset Password</title>
  <style>
  p{
    color: white
  }
  </style>
</head>

<body>
<div class='container bg-dark'>
  <div class='py-4'>
    <p class='text-center'>Hello, <%= @resource.name %>!</p>

    <p class='text-center'>Someone has requested a link to change your password.</p>

    <p class='text-center'><%= link_to 'Click here to change your password.', "#{message['redirect-url']}?reset_password_token=#{@token}" %></p>

    <p class='text-center'>If you didn't request this, please ignore this email.</p>
    <p class='text-center'>Your password won't change until you access the link above and create a new one.</p>
  </div>
</div>
</body>

</html>